.body{
    font-size: 10px;
}

.container{
    display: flex;
    justify-content: center;
    /*height: 90vh;*/
    flex-direction: column;

}
.container__container_form{
    display: flex;
    justify-content: center;
    margin:5rem 0 0 0 ;
    min-height: 15rem;
}
.container__form{
    position: relative;

}

.container__form__btn{
    position: absolute;
    bottom: 5px;
    right: 1px;
}

.container__score{
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.container__score__element{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    flex-direction: row;
    border: solid black 1px;
    border-radius: 10px;
    min-width: 40rem;
}
.container__score__data{
    margin: 1rem;
}